
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function getQueryParameter(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }

        const urlToken = getQueryParameter('token');
        console.log('Extracted Token:', urlToken);

        function runNotebook() {  //rest request after authentication
            $.ajax({
                type: "POST",
                url: "/admin/run-notebook?token=" + urlToken,
                contentType: "application/json",
                data: JSON.stringify("simple"), // Simple payload for test
                success: function(response){
                    alert("Data sent successfully: " + response);
                    document.getElementById('output').innerText = JSON.stringify(response, null, 2);
                },
                error: function(error){
                    alert("Error sending data: " + error.responseText);
                }
            });
        }
        
       /*  function runNotebook() {  //rest request after authentication
     	   let data="simple";
     	   $.ajax({
                type: "POST",
                url: "/admin/run-notebook?token="+urlToken,   //rest request after authentication
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function(response){
                    alert("Data sent successfully: " + response);
                },
                error: function(error){
                    alert("Error sending data: " + error);
                }
            });
			
            
        } */
       
    </script>
</head>
<body>
    <h1>AI Testing</h1>
    <button onclick="runNotebook()">Run Notebook</button>
    <pre id="output"></pre>
</body>
</html>
