<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <script>
    
   // const storageToken = localStorage.getItem('jwtToken');
   // Retrieve the token from the URL
   	const urlToken = getQueryParameter('token');
             console.log('Extracted Token:', urlToken); 
            
	
	// 리다이렉션시 window.location.href="linkUrl?token="+urlToken; 이렇게 해주기
            
                  
                 
    </script>
</head>
<body>
    testin
</body>
</html>